@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


@keyframes grow {
    from {
        max-height: 0%;
    }
    to {
        max-height: 100%
    }
}

.grow {
    animation-name: grow;
    animation-duration: 10s;
    animation-timing-function: linear;
}


.bg-custom-gradient-1 {
    background-image: 
        radial-gradient(140% 200% at -4% -10%, rgba(84, 84, 84, 0.15) 0%, rgba(84, 84, 84, 0) 50%);
}

.bg-custom-gradient-4 {
    background-image: 
        radial-gradient(200% 200% at 0% 0%, rgba(84, 84, 84, 0.25) 0%, rgba(84, 84, 84, 0) 50%);
}